.cookie {
    width: 300px;
    cursor: pointer;
    user-select: none;
}
.Body {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}
.clicks {
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}